*,
*::before,
*::after {
  box-sizing: border-box;
}
#root {
  padding-top: 100px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 232, 232);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0;
  border: 1px solrgb(173, 165, 167);
  display: flex;
}

/* li */
.item {
  background: rgb(242, 243, 245);
  padding-top: 20px;
  width: 133px;
  height: 100px;
  border: 1px solid rgb(173, 165, 167);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* display: block; */
  text-align: center;
}

p {
  text-align: center;
}

.profile {
  /* padding-top: 100px; */
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 399px;
}

.description {
  display: block;
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.avatar {
  display: block;
}
img {
  background: rgb(233, 217, 247);
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 50%;
}

.name {
  color: black;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 700;
}
.tag {
  color: rgb(153, 142, 142);
  font-size: 18px;
  font-family: Roboto;
}
.location {
  color: rgb(153, 142, 142);
  font-size: 18px;
  font-family: Roboto;
}

/* 2 ----------------------Задание-------------------------- */

/* ul */
.stat-list {
  margin-top: 10px;
  background: 1px solrgb(173, 165, 167);
}
/* li */
.item2 {
  /* background: rgb(242, 243, 245); */
  padding-top: 20px;
  border: 1px solid rgb(173, 165, 167);
  display: flex;
  flex-direction: column;

  width: 100px;
  height: 80px;
  text-align: center;
}
.contaner-static {
  padding-top: 20px;
  /* padding-bottom: 20px; */
  display: inline-block;
  background: white;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.sectstatis {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  width: 500px;
  display: block;
  padding-top: 20px;
  padding-bottom: 100px;
}

/* 3 frends---------------- */

.contaner-frends {
  display: block;
  margin-bottom: 100px;
}
/* ul */
.list-frends {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 100px 40px; */
  margin-left: auto;
  margin-right: auto;
}

.item-frens {
  margin-bottom: 15px;
  padding: 10px 0 10px 10px;
  display: inline-flex;
  align-items: center;
  width: 400px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px #00000033;
}

.item-frens:not(:last-child) {
  margin-bottom: 15px;
}

.avatar-frends {
  width: 100px;
  border-radius: 10%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.178);
  margin-right: 20px;
  margin-left: 20px;
}

.name-frends {
  font-weight: 500;
  font-size: 30px;
}

.status-frends {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

/* .contaner-frends {
  display: block;
  margin-bottom: 100px;
}

.list-frends {
  flex-direction: column;
  align-items: center;
}

.item-frens {
  margin-bottom: 5px;
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-right: 200px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.avatar-frends {
  display: block;
  border-radius: 5px;
  margin-bottom: 8px;
}

.name-frends {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
} */
